// <!--Ejercicio 4: bMW Website-->
//DECLARACIÓN VARIABLES

//Background Colors
$header-color: black;
$main-color: white;
$footer-color: gray;
$button-color: rgb(47, 156, 245);
$darkblue-color: rgb(22, 81, 129);

//Tipografy Colors
$light-color: white;
$dark-color: black;

//Tipografy Font
$type-font: Vegur, 'PT Sans', Verdana, sans-serif;

//Font Type
$strong-font: bold;
$cursive-font: italic;

//Font Size
$supertitle-font: 56px; 
$bigtitle-font: 36px; 
$title-font: 30px;
$midtitle-font: 22px; 
$subtitle-font: 20px;
$subsubtitle-font: 16px; 
$text-font: 14px;
$normal-font: 12px;
$link-font: 10px; 

